@import url("https://fonts.googleapis.com/css?family=Source+Serif+4:400");

.home-page {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 1080px;
  min-width: 1920px;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.overlap-group1 {
  align-items: center;
  background-image: Mara ti ha inviato un Pin!.jpeg  ;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  min-height: 1080px;
  padding: 293.5px 0;
  width: 1682px;
}

.overlap-group2 {
  align-items: flex-start;
  background-color: 
#000000a7;
  border-radius: 125px;
  display: flex;
  height: 361px;
  justify-content: flex-end;
  margin-top: 90px;
  min-width: 1480px;
  padding: 137px 99px;
}

.find-out-all-the-inf {
  color: 
#fffafa;
  font-family: var(--font-family-source_serif_4);
  font-size: var(--font-size-xl);
  font-weight: 400;
  height: 74px;
  letter-spacing: 0;
  line-height: 45px;
  text-align: center;
  width: 1249px;
}

.x4 {
  color: var(--white);
  font-family: var(--font-family-mshtakan-regular);
  font-size: var(--font-size-l);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 25px;
  margin-bottom: -23px;
  margin-left: 32px;
  min-height: 2px;
  min-width: 2px;
  white-space: nowrap;
}

.overlap-group {
  align-items: center;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/628ff48f42f8d57b7a500f3c/releases/62957586bc52940998fbf238/img/avenger-team-left-1x-png@1x.png);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  min-height: 1080px;
  padding: 17px 0;
  width: 238px;
}

.captain-america-button {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 23px;
  cursor: pointer;
  display: flex;
  height: 57px;
  margin-top: 96px;
  min-width: 160px;
  padding: 14.5px 8px;
}

.captain-america {
  -webkit-text-stroke: 1px var(--black);
  letter-spacing: 0;
  line-height: 20px;
  min-height: 25px;
  min-width: 144px;
  text-align: center;
  white-space: nowrap;
}

.hawkeye-button {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 23px;
  cursor: pointer;
  display: flex;
  height: 57px;
  margin-top: 80px;
  min-width: 160px;
  padding: 17px 41px;
}

.place {
  -webkit-text-stroke: 1px var(--black);
  letter-spacing: 0;
  line-height: 20px;
  min-height: 22px;
  min-width: 78px;
  text-align: center;
  white-space: nowrap;
}

.iron-man-button {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 23px;
  cursor: pointer;
  display: flex;
  height: 57px;
  margin-top: 80px;
  min-width: 160px;
  padding: 14.5px 39px;
}

.iron-man {
  -webkit-text-stroke: 1px var(--black);
  letter-spacing: 0;
  line-height: 20px;
  min-height: 25px;
  min-width: 82px;
  text-align: center;
  white-space: nowrap;
}

.black-widow-button {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 23px;
  cursor: pointer;
  display: flex;
  height: 57px;
  margin-top: 80px;
  min-width: 160px;
  padding: 14.5px 22px;
}

.surname {
  -webkit-text-stroke: 1px var(--black);
  letter-spacing: 0;
  line-height: 20px;
  min-height: 25px;
  min-width: 116px;
  text-align: center;
  white-space: nowrap;
}

.icons8-avengers-96 {
  height: 122px;
  margin-left: 10px;
  width: 122px;
}

.thor-button {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 23px;
  cursor: pointer;
  display: flex;
  height: 57px;
  justify-content: flex-end;
  margin-top: 80px;
  min-width: 160px;
  padding: 17px 59px;
}

.thor {
  -webkit-text-stroke: 1px var(--black);
  letter-spacing: 0;
  line-height: 20px;
  min-height: 22px;
  min-width: 41px;
  text-align: center;
  white-space: nowrap;
}

.the-hulk-button {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 23px;
  cursor: pointer;
  display: flex;
  height: 57px;
  margin-top: 80px;
  min-width: 160px;
  padding: 14.5px 38px;
}

.the-hulk {
  -webkit-text-stroke: 1px var(--black);
  letter-spacing: 0;
  line-height: 20px;
  min-height: 25px;
  min-width: 84px;
  text-align: center;
  white-space: nowrap;
}